/****** All CSS ******/
body {
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 960px;
    min-height: 200px;
    margin: 0 auto;
}

.error {
    color: red;
}

.success {
    color: green;
}

#email-addresses {
    border-collapse: collapse;
}

#email-addresses td {
    border: 2px solid black;
    padding: 10px;
}